EVENT_SEARCH_AZURE__CONTAINER_URL=https://.blob.core.windows.net/events
EVENT_SEARCH_AZURE__SAS_TOKEN="sv=...&spr=https&sr=c&sp=rl&se=...&sig=..."
EVENT_SEARCH_AZURE__FOLDER_NAME=events

EVENT_SEARCH_CACHE__PARQUET_DIR=.cache/parquet
EVENT_SEARCH_CACHE__DATABASE_PATH=.cache/event_search.sqlite
EVENT_SEARCH_CACHE__TEMP_DIR=.cache/tmp

EVENT_SEARCH_SEARCH__DEFAULT_LIMIT=100
EVENT_SEARCH_SEARCH__MAX_LIMIT=10000

EVENT_SEARCH_SYNC__CONCURRENCY=20
EVENT_SEARCH_SYNC__TARGET_PARQUET_SIZE_MB=128

EVENT_SEARCH_LOGGING__LEVEL=DEBUG